.footer-wrapper {
    background-color: $bright-back;
    @include flex(0, flex-start, center, column);
    width: 100%;
    padding: 5px 100px;
    margin-bottom: 0;

    .footer {
        @include flex(50px, flex-start, flex-start);
        border-bottom: 1px solid rgba($color: #606060, $alpha: 0.2);
        width: 100%;

        h3 {
            font-size: 18px;
            color: rgba($color: $bright-text, $alpha: 0.9);
            margin-bottom: 25px;
        }

        p {
            font-size: 15px;
            color: rgba($color: $bright-text, $alpha: 0.85);
            margin-bottom: 20px;
        }

        p::first-letter {
            text-transform: capitalize;
        }

        h3::first-letter {
            text-transform: capitalize;
        }

        .email {
            flex: 6;

            form {
                height: 50px;
                @include flex(0, center, center);
                width: 90%;
                border-radius: 10px;
                margin-bottom: 35px;

                input {
                    border: 1px solid rgba($color: #606060, $alpha: 0.2);
                    background-color: rgba(0, 0, 0, 0);
                    border-right-width: 0;
                    font-size: 18px;
                    height: 100%;
                    flex: 1;
                    border-top-left-radius: 10px;
                    border-bottom-left-radius: 10px;
                    padding-left: 10px;
                    color: rgba($color: $bright-text, $alpha: 0.9);
                }

                input:focus {
                    outline: 0px;
                }

                button {
                    height: 100%;
                    border-width: 0;
                    cursor: pointer;
                    border-top-right-radius: 10px;
                    border-bottom-right-radius: 10px;
                    background-color: $main;
                    color: $bright-text;
                    font-size: 18px;
                    padding: 0 8px;
                }
            }
        }

        .contact {
            flex: 4;

            h3 {
                text-align: center
            }

            div {
                @include flex(50px, center, center);

                img {
                    width: 40px;
                    aspect-ratio: 1/1;
                    object-fit: cover;
                    cursor: pointer;
                }
            }
        }

        .account {
            flex: 5;
            @include flex(50px, space-between, center);

            p {
                cursor: pointer;
            }
        }
    }

    .footer-bottom {
        @include flex(100px, space-between, center);
        width: 100%;

        p {
            font-size: 13px;
            color: rgba($color: $bright-text, $alpha: 0.85);
            cursor: pointer;
        }

        &>:first-child {
            flex: 10;
        }

        p::first-letter {
            text-transform: capitalize;
        }

        div {
            flex: 5 1;
            @include flex(0, space-between, center);
        }
    }
}

@media (max-width: $middle) {
    .footer-wrapper {
        padding: 5px 12px;
        margin-bottom: 60px;

        .footer {
            @include flex(0, center, flex-start, column);

            .email {
                @include flex(20px, center, center, column);
                *{
                    margin:0;
                }
                p{
                    text-align: center;
                }
                h3{
                    margin-top: 10px;
                }
                form {
                    margin-bottom: 20px;
                }
            }

            .contact,
            .account {
                width: 100%;
            }

            .account {
                @include flex(0, space-around)
            }

            .contact>div {
                margin-bottom: 20px
            }
        }

        .footer-bottom {
            @include flex(0, space-evenly, center);
            p{
                flex: unset !important;
                width: 33%;
            }
            div{
                flex:1;
                @include flex(0, space-around, center);
            }
        }
    }
}