:root {
    --main: rgb(255, 255, 255);
    --mid: rgb(83, 0, 0);
    --words: rgb(230, 48, 48);
}

@import './cmps/footer.css';

.main {
    width: 100vw;
    height: 100vh;
    background-color: var(--main);
    color:var(--words);
    color:black;
}

.underline {
    text-decoration: underline;
}

.non-appear {
    display: none;
}

.hidden {
    visibility: hidden;
}

.screen {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    opacity: 0;
    background-color: black;
    z-index: 10;
}

.blur {
    opacity: 0.6;
}

input:focus {
    outline: 0px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 40px;
    background-color: var(--mid);
    padding: 0 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    padding: 0 20px;
}

.upper-popup-wrapper{
    position: fixed;
    z-index: 1000;
    top: 40px;
    border-radius: 10px;
    width: 100vw;
    background-color: transparent;
    animation: slide-down 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upper-popup{
    width: 300px;
    text-align: center;
}

@keyframes slide-down {
    0% {
        top: -20px;
    }
    100% {
        top: 10px;
    }
}
