//basics
// @import "/src/style/base/variables.scss";
// @import "/src/style/base/helpers";
// @import "/src/style/base/font-face";
// @import "/src/style/base/mixins";
// @import "/src/style/base/themes";

// //pages
// @import "/src/style/pages/home";
// @import "src/style/pages/profile";
// @import "src/style/pages/landing";
// @import "src/style/pages/stream";
// @import "src/style/pages/error";

// //components
// @import "/src/style/cmps/header";
// @import "/src/style/cmps/filter-bar";
// @import "src/style/cmps/menu";
// @import "src/style/cmps/popup";
// @import "src/style/cmps/wallet-connect";
// @import "src/style/cmps/profile-statistics";
// @import "src/style/cmps/search-bar";
// @import "src/style/cmps/loader";
// @import "src/style/cmps/footer";
// @import "src/style/cmps/event-box";
// @import "src/style/cmps/event-box-fund";
// @import "src/style/cmps/event-box-loader";
// @import "src/style/cmps/chat-box";
// @import "src/style/cmps/stream-chat";
// @import "src/style/cmps/players-list";
// @import "src/style/cmps/upper-popup";
// @import "src/style/cmps/simple-popup";
// @import "src/style/cmps/tutorial";


* {
  box-sizing: border-box;
  font-family: roboto-normal;
  scroll-behavior: smooth;
}

.lala{
  color: rgb(0, 247, 255);
  background-color: chartreuse;
}

.main-layout {
  margin-top: 60px;
  margin-bottom: 50px;
}