$main : #F37F13;
$sec : #F29B00;
$gray : #818181;

@mixin flex($gap:10px ,$justify: center, $align: center,$dir: row) {
  display:flex;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
  flex-direction: $dir;
 }

 * {
  box-sizing: border-box;
  scroll-behavior: smooth;
}


// //pages


// //components


.main-layout {
  margin-top: 60px;
  margin-bottom: 50px;
}

.underline {
  text-decoration: underline;
}

.non-appear {
  display: none;
}

.hidden {
  visibility: hidden;
}

.screen {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  opacity: 0;
  background-color: black;
  z-index: 10;
}

.blur {
  opacity: 0.6;
}

.no-scroll {
  overflow-y: hidden;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input:focus {
  outline: 0px;
}
