.home {
    min-height: calc(100vh - 368px);
    display: flex;
    flex-direction: column;
    color:white;

    .featured-banner {
        width: 100%;
        height: 200px;
        cursor: pointer;
        margin-bottom: 80px;
        position: sticky;
        top: -50px;
        background-image: url('https://wallpapercave.com/wp/wp7196334.jpg');
        background-position-x: right;
        background-size: cover;
        z-index: 1;

        .featured-text {
            width: 340px;
            position: absolute;
            top: 10px;
            right: 150px;
            font-size: 40px;
            font-weight: 400;
            cursor: pointer;

            p {
                margin-bottom: 8px;
                margin-top: 8px;
            }

            span {
                text-transform: capitalize;
                color: #f59d10;
            }

            .button-wrapper {
                margin-top: 22px;

                button {
                    margin: auto !important;
                    background-color: $main;
                    color: $bright-text;
                    cursor: pointer;
                    padding: 1px 28px;
                    font-size: 32px;
                    border-width: 0;
                    border-radius: 10px;
                }
            }
        }
    }

    .events-wrapper {
        @include flex(150px, space-between, center, column);
    }

    .event-box-wrapper {
        @include flex(0, center, center);
        margin-bottom: 60px;

        .event-box-side {
            @include flex(80px, center, space-around, column);
            margin: 80px;
            margin-top: 8px;

            svg {
                cursor: pointer;
            }
        }
    }

    .not-found {
        @include flex(0, center, center, column);
        flex: 1;

        img {
            width: 220px;
        }

        p {
            text-align: center;
            font-size: 30px;
            margin: 8px;
        }
    }

    @media (max-width: 1500px) {
        .disappearable {
            display: none !important;
        }

        .event-box-wrapper {
            @include flex(10px, flex-start, center, column);

            .event-box-side {
                margin: 0;
                align-self: flex-start;

                svg {
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }
}

@media (max-width: $mobile) {
    .home {
        .featured-banner {
            top: -70px;
            background-position-x: -20px;
            background-position-y: bottom;
            margin-bottom: 8px;

            .featured-text {
                width: 230px;
                text-align: center;
                font-size: 24px;
                right: unset;
                top: 40px;
                padding-top: 10px;
                position: sticky;

                .button-wrapper {
                    margin-top: 10px;
                    padding-top: 15px;
                    position: sticky;
                    top: 70px;
                    padding-bottom: 20px;

                    button {
                        font-size: 24px;
                        padding: 2 8px;
                        top: 300px;
                    }
                }
            }
        }
        .events-wrapper {
            @include flex(30px, space-between, center, column);
            padding-bottom: 20px;
        }
        .not-found {
            padding: 10px;
            padding-bottom: 40px;
            img {
                width: 120px;
            }
    
            p {          
                font-size: 16px;
                padding: 0 10px;
            }
        }
    }
}
